@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #eee;
  color: #212121;
}

.temp {
  color: #cf0000;
}

.rain {
  color: #0077d6;
}

.wind {
  color: #4d4d4d;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  background: #fff;
  padding: 20px;
}

header h1,
header h2 {
  margin: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.wrapper {
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  /* display: flex;
  justify-content: center;
  align-items: center;*/
}

.wrapper .nowcast {
  /* display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; */
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "weatherType temp rain wind";
  position: relative;
  padding: 30px;
  max-width: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 20px;
}

.wrapper .nowcast .temp {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: temp;
}

.wrapper .nowcast .rain {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: rain;
}

.wrapper .nowcast .wind {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: wind;
}

.wrapper .nowcast .from-to {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
}

.wrapper .nowcast .from-to,
.wrapper .nowcast .from-to i {
  font-size: 16px;
}

.wrapper .nowcast .weatherType {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: weatherType;
  width: 90px;
  margin-right: 20px;
}

.wrapper .nowcast .unit,
.wrapper .nowcast i {
  font-size: 24px;
}

.wrapper .nowcast i {
  color: #212121;
}

.wrapper .nowcast .type {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .nowcast .type:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 690px) {
  .wrapper .nowcast {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "weatherType temp" "weatherType rain" "weatherType wind";
  }
  .wrapper .nowcast .type {
    font-size: 32px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .wrapper .nowcast .type:not(:last-child) {
    margin: 0;
  }
  .wrapper .nowcast i {
    text-align: center;
    min-width: 25px;
    font-size: 16px;
  }
  .wrapper .nowcast .unit {
    font-size: 20px;
  }
}

.wrapper .forecast {
  padding: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 20px;
}

.wrapper .forecast .forecast-table {
  border-collapse: collapse;
  width: 100%;
}

.wrapper .forecast .forecast-table .time {
  max-width: 150px;
}

@media screen and (max-width: 495px) {
  .wrapper .forecast .forecast-table .heading-txt {
    display: none;
  }
}

.wrapper .forecast .forecast-table tbody th,
.wrapper .forecast .forecast-table tbody td {
  border-bottom: 1px solid #ddd;
}

.wrapper .forecast .forecast-table tbody td {
  text-align: center;
}

.wrapper .forecast .forecast-table tbody tr:hover {
  background-color: #f5f5f5;
}

.wrapper .forecast .forecast-table tbody .weathertype {
  max-width: 50px;
}
/*# sourceMappingURL=style.css.map */