<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5545.no</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="src/vue.js"></script>
</head>
<body>
    <div class="wrapper">

        <div id="app">
            <h1>Været på Vormedal {{ date }}</h1>
            <img :src="weatherImg">
            <p>{{ temperature }} &deg;C <span v-if="rainMax > 0">- {{ rainMin}}-{{ rainMax }} mm</span> - {{ wind }} m/s</p>

            <div class="forecast">
                <h2>De neste 3 timene</h2>
                <table class="three-hours">
                    <thead>
                        <tr>
                            <th>Tid</th>
                            <th>Vær</th>
                            <th>Temp.</th>
                            <th>Nedbør</th>
                            <th>Vind m/s</th>
                            <th>Vindbeskrivelse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="hourSlot in nextThreeHours">
                            <td>
                                {{ hourSlot.time }}
                            </td>
                            <td>
                                <img :src="hourSlot.weather">
                            </td>
                            <td>
                                {{ hourSlot.temp }} &deg;C
                            </td>
                            <td>
                                <span v-if="hourSlot.rain > 0">{{ hourSlot.rain }} mm</span>
                            </td>
                            <td>
                                {{ hourSlot.wind }}
                            </td>
                            <td>
                                {{ hourSlot.wind_desc }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <span class="refresh-btn" @click="getWeather('59.355091', '5.323378')">
                🔁
            </span> -->

            <!-- <h2>Custom værvarsel</h2>
            <form>
                <input type="text" ref="lat" placeholder="Lat">
                <input type="text" ref="lon" placeholder="Lon">
                <button @click.prevent="getCustomWeather">
                    Oppdater
                </button>
            </form> -->
        </div>

    </div>

    <script src="src/index.js"></script>
</body>
</html>
<!-- Bergen: 60.388068, 5.331854 -->
<!-- Thailand: 13.753939, 100.501289 -->